
.section_about {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
}
.block_about {
    background-color: #E0752F;
    height: auto;
    width: 25px;
}
.about_parrafo {
    letter-spacing: 0.3px;
    color: #343434;
    line-height: 1.6;
    padding-right: 18px;
}

.btn-25w {
    border-radius: 25px;
    background-color: #E0752F;
    color: #FFF;
    padding: 10px 35px;
}
@media (max-width: 768px){
    .btn-25w {
        padding: 5px 25px;
    }
}
@media (max-width: 575px) {
    .section_about {
        margin-top: 6rem;
    }
}